body {
  margin: auto 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px black;
}

.blogPage {
  text-align: center;
}

footer {
  border-top: solid 2px dimgray;
}
